// Reescribir variables de bootstrap
$rojo : #f34f51;
$verde: #0098ae;
$oscuro: #212121;

// Asignar paleta de colores a Boostrap
$secondary : $verde;
$primary : $rojo;
$dark: $oscuro;

// importar bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss'